name: Ejercicio 5

on: [push]

env:
    APP_NAME: "Quiz App"
    VERSION: "1.0.0"

jobs:
    setup:
        runs-on: ubuntu-latest
        outputs:
            timestamp:  ${{ steps.create-timestamp.outputs.timestamp }}
        steps:
            - name: Step 1
              run: |
                echo $APP_NAME
                echo $VERSION
            - id: create-timestamp
              run: echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT
    test:
        runs-on: ubuntu-latest
        needs: setup
        env:
            NODE_ENV: test
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: '18'
            - name: Run Tests
              run: npm test
            - name: Print Timestamp
              run: echo ${{ needs.setup.outputs.timestamp }}
    deploy:
        runs-on: ubuntu-latest
        needs: test
        if: github.ref == 'refs/heads/main'
        env:
            API_KEY: ${{ secrets.API_KEY }}
        steps:
            - name: Step 1
              run: echo Desplegando $APP_NAME v$VERSION
            - name: Step 2
              if: ${{ env.API_KEY }}
              run: echo "Secret configurada correctamente"

              